.shippingEstimate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.logo {
  width: 240px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.field {
  display: block;
  border: 1px solid #eee;
  padding: 9px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(34,41,67,.14);
  font-size: 18px;
}

.errorMsg {
  font-size: 13px;
  margin-top: 4px;
  padding-left: 2px;
  color: #ce1f1f;
}

.submit {
  display: block;
  border: none;
  margin-top: 14px;
  padding: 10px 16px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  font-size: 18px;
  background: #081b3b;
  color: #eee;
  cursor: pointer;
}


.submit[disabled] {
  background: #d3d3d3;
  color: #444;
  cursor: default;
}

.route {
  display: flex;
  margin-top: 44px;
}

.result {
  text-align: center;
}

.estimation {
  font-weight: bold;
  font-size: 22px;
}

.line {
  width: 270px;
  height: 4px;
  margin: 18px 0px;
  background: #081b3b;
}

.point {
  text-align: center;
  width: 150px;
}

.title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 4px;
}

.zipCode {
  text-align: center;
  font-size: 28px;
  border-radius: 4px;
  padding: 4px 8px;
  box-shadow: 0 2px 8px 0 rgba(34,41,67,.14);
  background: #fff;
}

.location {
  margin-top: 4px;
}
